
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row justify-content-center no-gutters">
    <div class="col-lg-5 col-md-5 col-12">
        <div class="bg-white rounded shadow-lg">
            <div class="content-top-agile p-20 pb-0">
                <h2 class="text-primary">ODIN LOGIN</h2>
                <p class="mb-0">Sign in to continue to Odin admin.</p>
            </div>
            <div class="p-40">
                <form class="loginFrm" role="form" id="loginForm" method="POST">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control pl-15 bg-transparent" placeholder="Username" id="username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                            </div>
                            <input type="password" class="form-control pl-15 bg-transparent" placeholder="Password" id="password" name="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="checkbox">
                                <input type="checkbox" id="basic_checkbox_1">
                                <label for="basic_checkbox_1">Remember Me</label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-6">
                            <div class="fog-pwd text-right">
                                <a href="javascript:void(0)" class="hover-warning"><i class="ion ion-locked"></i> Forgot pwd?</a><br>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-danger mt-10">SIGN IN</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div class="text-center">
                    <p class="mt-15 mb-0">Don't have an account? <a href="#" class="text-warning ml-5">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

